<!doctype html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <title>Tutorials</title>

        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>

    <body>
        <header>
            <nav>
                <a href="https://businesslibrarian.github.io/simple-site/index.html">Home</a>
                <a href="https://businesslibrarian.github.io/simple-site/tutorials/tutorials.html" aria-current="true">Tutorials</a>
            </nav>

            <h1>Tutorial title</h1>
        </header>

        <main>
            
        </main>
    </body>

    <footer>
        <p>Made by Ian Moore</p>
    </footer>

</html>